@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');




:root {
    --main-color : #FEF9EA;
    --secondary-color: #78B8C6;
    --tirtiary-color: #BAD6D6;
    --white: #FFFFFF;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
html, body {
    overflow: hidden;  
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Sour Gummy", sans-serif;
    background-color: var(--main-color);
    box-sizing: border-box;
    font-family: "Sour Gummy";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* --------------------LANDING PAGE------------------------ */
.landing-page{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    overflow: hidden; 
    }
    .main-content {
        height: 100%;
        width: 50%;
        }
        .main-header{
            height: 10vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            padding-right: 10px;
            }
            .about {
                border: 2px solid var(--secondary-color) ;
                padding: 10px;
                height: 50px;
                width: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                color: var(--secondary-color);
                background-color: var(--white);
                }
                .main-header a {
                    text-decoration: none;
                    color: var(--secondary-color);
                }
                .about:hover, .about a:hover {
                    background-color: var(--tirtiary-color);
                    border-color: 2px solid var(--tirtiary-color);
                    color: var(--main-color);
                }
            .contact{
                border: 2px solid var(--secondary-color) ;
                padding: 10px;
                height: 50px;
                width: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                color: var(--secondary-color);
                background-color: var(--white);
                }
                .contact:hover, .contact a:hover {
                    background-color: var(--tirtiary-color);
                    border-color: 2px solid var(--tirtiary-color);
                    color: var(--main-color);
                }
            .main-search {
                color: var(--white);
                background-color: var(--secondary-color);
                height: 50px;
                width: 50px;
                font-size: 30px;
                padding: 5px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content:center ;
            }
        .main-logo {
            height: 60vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content:center ;
            position: relative;
            }
            .main-logo img{
                height: 60vh;
                width: 35vw;
                position: absolute;
                top: 30px;
            }
        .explore {
            height: 30vh;
            width: 100%;
            display: flex;
            align-items: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            }
            .explore img{
                height: 100px;
                position: absolute;
                top: 0;
                z-index: 99;
            }
            .explore-btn {
                position: absolute;
                top: 75px;
                height: 75px;
                width: 300px;
                border: 3px solid var(--secondary-color);
                border-radius: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--secondary-color);
                background-color: var(--white);
                right: 235px;
            }
            .explore-btn a{
                text-decoration: none;
                color: var(--secondary-color);
                height: 75px;
                width: 300px;
            }
            .explore-btn:hover, .explore-btn a:hover{
                background-color: var(--tirtiary-color);
                color: var(--main-color);
                border: 3px solid var(--tirtiary-color);
            }

    .pet-images{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        }
        .pet-images-cont1 {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            }
            .pet1 {
                height: 55%;
                width: 100%;
                }
                .pet1 img{
                    height: 100%;
                    width: 100%;
                }
            .pet2 {
                height: 45%;
                width: 100%;
                }
                .pet2 img{
                    height: 100%;
                    width: 100%;
                }
        .pet-images-cont2 {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            }
            .pet3 {
                height: 45%;
                width: 100%;
                }
                .pet3 img{
                    height: 100%;
                    width: 100%;
                }
            .pet4 {
                height: 55%;
                width: 100%;
                }
                .pet4 img{
                    height: 100%;
                    width: 100%;
                }

            
/* --------------------CATEGORY------------------------ */
.category-header, .header{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    gap: 15px;
    }
    .home {
        border: 2px solid var(--secondary-color) ;
        padding: 10px;
        height: 50px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        color: var(--secondary-color);
        background-color: var(--white); 
        text-decoration: none;
        }
        .header a{
            text-decoration: none;
            color: var(--secondary-color);
        }
        .home:hover, .home a:hover {
            color: var(--main-color);
            background-color: var(--tirtiary-color);
            border: var(--tirtiary-color) 2px solid;
        }
    .search-pets{
        border: 2px solid var(--secondary-color) ;
        height: 50px;
        width: 320px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 10px;
        border-radius: 25px;
        color: var(--secondary-color);
        background-color: var(--white); 
        position: relative;
        }
        .searchbar input{
            border: 2px solid var(--secondary-color) ;
            padding: 10px;
            height: 50px;
            width: 310px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            color: var(--black);
            background-color:var(--white); 
            outline: none;
            transition: width 0.3s ease-in-out, border-color 0.3s ease;
            font-size: 1rem;

            }
            .searchbar input:focus{
                border-color: var(--secondary-color);
                width: 310px;
            }
        .search {
            height: 55px;
            width: 55px;
            background-color: var(--secondary-color);
            color: var(--main-color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            border-radius: 50%;
            position: absolute;
            right: -5px ;
        }

.category-logo {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .category-logo img {
        height: 62vh;
        width: 500px;
    }
.category-buttons{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .category-buttons .dog-button .dog-category-btn:hover,
    .category-buttons .cat-button .cat-category-btn:hover,
    .category-buttons .fish-button .fish-category-btn:hover,
    .category-buttons .bird-button .bird-category-btn:hover
    {
        color: var(--main-color);
        background-color: var(--tirtiary-color);
        border: var(--tirtiary-color);
    }
    .category-buttons .dog-button a,
    .category-buttons .cat-button a,
    .category-buttons .fish-button a,
    .category-buttons .bird-button a
    {
        text-decoration: none;
        
    }
    .pet-category{
        height: 30vh;
        width: 16vw;        
    }
    .dog-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
        width:16vw;
        position: relative;
        }
        .dog-button img {
            height: 100px;
            width: 100px;   
        }
        .dog-button img:nth-child(1){
            position: absolute;
            top: 15px;
            left: 0px;
        }
        .dog-button img:nth-child(2){
            position: absolute;
            bottom: 30px;
            right: 0px;

        }
        .dog-category-btn{
            height: 75px;
            width: 15vw     ;
            border: 3px solid var(--secondary-color);
            color: var(--secondary-color);
            background-color: var(--white);
            border-radius: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }
    .cat-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
        width: 16vw;
        position: relative;
        }
        .cat-button img {
            height: 100px;
            width: 150px; 
            position: absolute;
            bottom: 119px
        }
        .cat-category-btn {
            height: 75px;
            width: 15vw     ;
            border: 3px solid var(--secondary-color);
            color: var(--secondary-color);
            background-color: var(--white);
            border-radius: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }
    .fish-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
        width: 16vw;
        position: relative;
        }
        .fish-button img {
            height: 140px;
            width: 150px; 
            position: absolute;
            right: 120px;
        }
        /* .fish-button img:nth-child(2) {
            height: 140px;
            width: 150px; 
            position: absolute;
            left: 110px;   
            bottom: 20px;
        } */
        .fish-category-btn {
            height: 75px;
            width: 15vw     ;
            border: 3px solid var(--secondary-color);
            color: var(--secondary-color);
            background-color: var(--white);
            border-radius: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }
    .bird-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
        width: 16vw;
        position: relative;
        }
        .bird-button img {
            height: 100px;
            width: 150px; 
            position: absolute;
            bottom: 117px;
        }
        .bird-category-btn {
            height: 75px;
            width: 15vw     ;
            border: 3px solid var(--secondary-color);
            color: var(--secondary-color);
            background-color: var(--white);
            border-radius: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }

/* --------------------ABOUT------------------------ */

.about-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .about-cont1 {
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
        }
        .about-logo img {
            height: 500px;
        }
    .about-cont2 {
        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        }
        .about-header {
            height: 10vh;
            width: 100%;
        }
        .about-content {
            height: 60vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 1.75rem;
            }
            .about-content span {
                font-size: 2rem;
                font-weight: 600;
            }
        .about-buttons {
            height: 30vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: baseline;
            }

            .about-buttons .about-dog .dog-about-btn:hover,
            .about-buttons .about-cat .cat-about-btn:hover,
            .about-buttons .about-fish .fish-about-btn:hover,
            .about-buttons .about-bird .bird-about-btn:hover
            {
                color: var(--main-color);
                background-color: var(--tirtiary-color);
                border: var(--tirtiary-color);
            }
            .about-buttons .about-dog a,
            .about-buttons .about-cat a,
            .about-buttons .about-fish a,
            .about-buttons .about-bird a
            {
                text-decoration: none;
                
            }
            .about-pet-button {
                height: 100%;
                width: 25%;
                
            }
            .about-dog{
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 60px;
                position: relative;
                }
                .about-dog img {
                    height: 80px;
                    position: absolute;
                }
                .about-dog img:nth-child(1) {
                    top: 10px;
                    right: 150px;
                }
                .about-dog img:nth-child(2) {
                    bottom: 75px;
                    left: 150px;
                }
                .dog-about-btn {
                    height: 60px;;
                    width: 200px;
                    border: 2px solid var(--secondary-color);
                    background-color: var(--white);
                    border-radius: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--secondary-color);
                }
            .about-cat{
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 60px;
                position: relative;
                }
                .about-cat img {
                    height: 80px;
                    position: absolute;
                    bottom: 142px;
                }
                
                .cat-about-btn {
                    height: 60px;;
                    width: 200px;
                    border: 2px solid var(--secondary-color);
                    background-color: var(--white);
                    border-radius: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--secondary-color);
                }
            .about-fish{
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 60px;
                position: relative;
                }
                .about-fish img {
                    height: 100px;
                    position: absolute;
                }
                .about-fish img:nth-child(1) {
                    top: 20px;
                    right: 140px;
                }
                .about-fish img:nth-child(2) {
                    bottom: 75px;
                    left: 120px;
                }
                .fish-about-btn {
                    height: 60px;;
                    width: 200px;
                    border: 2px solid var(--secondary-color);
                    background-color: var(--white);
                    border-radius: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--secondary-color);
                }
            .about-bird{
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 60px;
                position: relative;
                }
                .about-bird img {
                    height: 80px;
                    position: absolute;
                    bottom: 145px;
                }
                
                .bird-about-btn {
                    height: 60px;;
                    width: 200px;
                    border: 2px solid var(--secondary-color);
                    background-color: var(--white);
                    border-radius: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--secondary-color);
                }

/* --------------------CONTACT------------------------ */
.long-header {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center ;
    justify-content: center;
    }
    .contact-logo {
        height: 100%;
        width: 50%;
        }
        .small-logo img {
            height: 15vh;
            width: 350px;
        }
    .contact-navigation {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        padding-right: 20px;
        }
        .contact-navigation a{
            text-decoration: none;
        }
.contact-content {
    height: 65vh;
    width: 100vw;
    /* border: 1px solid var(--black); */
    }
    .contact-content-cont1 {
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: var(--secondary-color);
        padding-top: 30px;
        }
        .contact-content-cont1 h1{
            font-weight: 400;
            font-family: "Coiny", system-ui;
            font-style: normal;
        }
    .contact-content-cont2 {
        height: 53vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        .contact-inputs1 {
            height: 100%;
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            }
            .contact-inputs1 div:nth-child(1){
                height: 50px;
                width: 100%;
                border-radius: 10px ;
                }
                .input-name input {
                    border: 2px solid var(--secondary-color);
                    height: 100%;
                    width: 100%;
                    border-radius: 10px ;
                    background-color: var(--white);
                    padding-left: 10px;
                    outline: none;
                    transition: width 0.3s ease-in-out, border-color 0.3s ease;
                    font-size: 1rem;

                }
                .input-name input:focus{
                    border: 3px solid var(--tirtiary-color);
                }
            .contact-inputs1 div:nth-child(2){
                height: 50px;
                width: 100%;
                border-radius: 10px ;
                }
                .input-email input{
                    border: 2px solid var(--secondary-color);
                    height: 100%;
                    width: 100%;
                    border-radius: 10px ;
                    background-color: var(--white);
                    padding-left: 10px;
                    outline: none;
                    transition: width 0.3s ease-in-out, border-color 0.3s ease;
                    font-size: 1rem;
                }
                .input-email input:focus{
                    border: 3px solid var(--tirtiary-color);
                }
            .contact-inputs1 div:nth-child(3){
                height: 150px;
                width: 100%;
                border-radius: 10px ;
                }
                .input-subject textarea{
                    border: 2px solid var(--secondary-color);
                    height: 100%;
                    width: 100%;
                    border-radius: 10px ;
                    background-color: var(--white);
                    padding-left: 10px;
                    outline: none;
                    transition: width 0.3s ease-in-out, border-color 0.3s ease;
                    resize: none; 
                    overflow: auto;
                    font-size: 1rem;

                }
                .input-subject textarea:focus{
                    border: 3px solid var(--tirtiary-color);
                }

        .contact-inputs2 {
            height: 100%;
            width: 35%;
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            }
            .input-message {
                height: 270px;
                width: 100%;
                border-radius: 10px ;
                }
                .input-message textarea{
                    border: 2px solid var(--secondary-color);
                    height: 100%;
                    width: 100%;
                    border-radius: 10px ;
                    background-color: var(--white);
                    padding-left: 10px;
                    outline: none;
                    transition: width 0.3s ease-in-out, border-color 0.3s ease;
                    resize: none; 
                    overflow: auto;
                    font-size: 1rem;
                }
                .input-message textarea:focus{
                    border: 3px solid var(--tirtiary-color);
                }
            .send-btn {
                height: 45px;
                width: 150px;
                border: 2px solid var(--secondary-color );
                border-radius: 5px ;
                background-color: var(--secondary-color);
                }
                .send-btn button{
                    height: 100%;
                    width: 100%;
                    border: 2px solid var(--secondary-color );
                    border-radius: 5px ;
                    background-color: var(--secondary-color);
                    color: var(--main-color);
                    font-size: 1.25rem;
                }
.contact-footer {
    height: 25vh;
    width: 100vw;
    background-color: var(--secondary-color);
    }
    .footer1 {
        height: 17vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        .quote {
            height: 13vh;
            width: 23vw;
            border-right: 3px solid var(--main-color);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: var(--main-color);
            font-size: larger;
            padding: 20px;
            }
            .quote span{
                font-weight: 600;
            }
        .quick-nav {
            height: 13vh;
            width: 12vw;
            border-right: 3px solid var(--main-color);
            display: flex;
            align-items: center;
            justify-content: center;
            }
            .quick-nav ul {
                list-style: none; 
                gap: 20px; 
            }
            
            .quick-nav ul li a {
                text-decoration: none; 
                color:var(--main-color);
                font-size: 16px; 
                transition: color 0.3s ease; 
            }
            
            .quick-nav ul li a:hover {
                color: var(--tirtiary-color); 
            }
        .soc-med {
            height: 13vh;
            width: 45vw;
            border-right: 3px solid var(--main-color);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: var(--main-color);
            gap: 10px;
            }
        .info {
            height: 13vh;
            width: 20vw;
            display: flex;
            align-items: start;
            justify-content: center;
            color: var(--main-color);
            gap: 10px;
            flex-direction: column;
            padding-left: 20px;
            }
            .email {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                }
                .email i, .phone i{
                    font-size: 1.5rem;
                }
            .phone {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
    .footer2 {
        height: 8vh;
        width: 100vw;
        border-top: 3px solid var(--main-color);
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
        color: var(--main-color);
        }
        .footer2 p:nth-child(1) {
            font-size: larger;
            font-weight: 500;
        }
        .footer2 a {
            text-decoration: none;
            color: var(--main-color);
        }
        .footer2 a:hover{
            color: var(--tirtiary-color);
        }


/* --------------------PRIVACY POLICY AND TERMS OF SERVICE------------------------ */

.ppts-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 90vh;
    width: 100vw;
}

.privacy-policy, .terms-of-service{
    max-width: 700px;
    margin: 5px auto;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    }
    .privacy-policy h1,.privacy-policy h2 ,.terms-of-service h1,.terms-of-service h2{
        color: var(--secondary-color);
      }
      .privacy-policy p,.privacy-policy li ,.terms-of-service p,.terms-of-service li{
        color: #555;
      }
      .privacy-policy ul, .terms-of-service ul {
        margin: 10px 0;
        padding-left: 20px;
      }

.scrollable {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #fafafa;
    }
    .scrollable strong {
        font-weight: 700;
    }

/* -------------------  PETS ------------------------ */
.pet-container {
    height: 100vh;
    width: 100vw;
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    }
    .dog-pet-caption,
    .cat-pet-caption,
    .fish-pet-caption,
    .bird-pet-caption
     {
        height: 20vh;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary-color);
        font-size: 2.5rem;
        padding-top: 60px;
        position: relative;
        }
        .dog-pet-caption h1,
        .cat-pet-caption h1 ,
        .fish-pet-caption h1 ,
        .bird-pet-caption h1  {
            font-weight: 400;
            font-family: "Coiny", system-ui;
            font-style: normal;
        }
        .dog-pet-caption img,
        .cat-pet-caption img,
        .fish-pet-caption img,
        .bird-pet-caption img {
            height: 100px;
            position: absolute;
        }
        
        .dog-pet-caption :nth-child(1){
            top: 40px;
            left: 200px;
        }
        .dog-pet-caption :nth-child(2){
            height: 45px; 
            background-color: var(--secondary-color);
            top: 69px;
            right: 361px;
            border-radius: 20px ;
        }
        .dog-pet-caption :nth-child(3){
            top: 35px;
            right: 220px;
        
        }

        .cat-pet-caption :nth-child(1){
            top: 35px;
            left: 230px;
        }
        .cat-pet-caption :nth-child(2){
            height: 90px; 
            top: 10px;
            right: 307px;
        }
        .cat-pet-caption :nth-child(3){
            top: 35px;
            right: 225px;
        
        }

        .fish-pet-caption h1 {
            z-index: 99;
        }
        .fish-pet-caption :nth-child(1){
            top: 0;
            left: 220px;
            height: 120px; 
        }
        .fish-pet-caption :nth-child(2){
            height: 120px; 
            top: 0;
            right: 200px;
        }

        .bird-pet-caption :nth-child(1){
            top: 47px;
            left: 195px;
            height: 80px;
        }
        .bird-pet-caption :nth-child(2){
            height: 80px; 
            top: 12px;
            right: 342px;
        }
        .bird-pet-caption :nth-child(3){
            top: 35px;
            right: 225px;
            height: 60px;
        
        }
 .pick-dog , .pick-cat, .pick-fish, .pick-bird {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    }
    .dog-column,
    .cat-column,
    .fish-column,
    .bird-column  {
        height: 100%;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex-direction: column;
        }
        .dog, .cat, .fish, .bird {
            height: 15vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .dog img {
            height: 80px;
            position: absolute;
            bottom: 25px;
            right: 230px;
        }
        .cat img{
            height: 70px;
            position: absolute;
            bottom: 65px;
        }
        .fish img {
            height: 100px;
            position: absolute;
            left: -10px;
         
        }
        .bird img {
            height: 80px;
            position: absolute;
            right: -10px;
            bottom: 7px;
        }
        .bird img:nth-child(1){
            height: 50px;
            left: -15px;
            top: 2px;
        }

        .dog h2,
        .cat h2,
        .fish h2,
        .bird h2
         {
            height: 60px;
            width: 275px;
            border: 1px solid var(--secondary-color);
            background-color: var(--white);
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--secondary-color);
            font-size: 1.5rem;
        }
        .dog-column a{
            text-decoration: none;
        }
        .dog h2:hover,
        .cat h2:hover,
        .fish h2:hover,
        .bird h2:hover{
            color: var(--main-color);
            border: 1px solid var(--tirtiary-color);
            background-color: var(--tirtiary-color);
        }


/* -------------------  PET ENCYCLOPEDIA ------------------------ */
.pet-info {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    }
    .pet-picture {
        height: 70vh;
        width: 400px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        .pet-picture img {
            height: 70vh;
            border: 2px solid var(--secondary-color);
            width: 400px;
            border-radius: 20px;
        }
    .pet-details {
        height: 70vh;
        width: 700px;

    }
    .pet-name {
        display: flex ;
        align-items: center;
        justify-content: center;
        color: var(--secondary-color);
        }
        .pet-name h2 {
            font-weight: 400;
            font-family: "Coiny", system-ui;
            font-style: normal;
            font-size: 3rem;
        }
        .pet-description {
            font-size: 1.1rem;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .pet-paragraph{
            text-align: justify;
            text-indent: 2rem;
        }
        .pet-description span {
            color: var(--secondary-color);
            font-weight: 700;
        }
        .pet-personality li{
            margin-left: 3rem;
        }
        .pet-link span{
            color: var(--secondary-color);
            font-weight: 700;
            font-size: 1.1rem;
        }
        .pet-link a{
            color: ba;
        }